.Toastify__toast {
  color: blue;
  font-size: 1vw;
  height: 7vw;
}

.Toastify__toast-container {
  color: blue;
  width: 300x;
}

.Toastify__progress-bar {
  color: pink;
}

.Toastify__toast-container--top-right {
}
