.card {
  @include card-style;
  position: absolute;
}

.selected {
  box-shadow: 0px -1px 5px 5px blue;
}

.card-img {
  border: solid 1px black;
  width: 100%;
  height: auto;
  border-radius: 7px;
}
