.closed-card {
  width: 93px;
  height: 123px;
  display: flex;
}

.box {
  height: 10px;
  width: 30px;
}

.cards {
  width: 7vw;
  height: 9.8vw;
  position: absolute;
  border: solid 1px black;
  border-radius: 7px;
}
