.card-table {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
}

.card-table-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1vw;
}

.card-table-bottom {
  margin: 1vw;
}

.card-table-top-card-dealer {
  width: 20%;
}

.card-table-top-completed-cards {
  width: 80%;
}
