@import "../layout/grid";

.home {
  position: fixed;
  width: 100%;
  height: 100%;
  background: green;
}

.game-sections-deck {
  border: 1px solid red;
  // grid-area: deck;
}

.game-sections-completed {
  border: 1px solid blue;
}

.game-sections-slots {
  border: 1px solid yellow;
  grid-column: 1 / 3;
}

.game-sections {
  margin: 30px;
  @include grid($gap: 8vh);
}
