* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #368b85;
}

.card {
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
  position: absolute;
}

.card-img {
  border: solid 1px black;
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.cardDealer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0.5vw;
}

.completed-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.completed-card {
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
  margin: 0.3vw;
  border: solid 1px black;
  background-color: rgba(6, 99, 136, 0.301);
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  overflow: hidden;
}

.active {
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.active img {
  height: 100%;
  width: 100%;
}

.card-slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.slot {
  height: 25vw;
  padding: 1vw;
}

.slot-card {
  position: relative;
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
  border: 1px dotted black;
}

.closed-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
}

.cards {
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
  position: absolute;
  border: solid 1px black;
}

.Toastify__toast {
  color: #b4b897 !important;
  background-color: #464660 !important;
  font-size: 1vw !important;
  height: 7vw !important;
  border-radius: 8px !important;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #464660;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2vw;
  padding: 10px;
  color: #b4b897;
}

header img {
  height: 3vw;
  margin-right: 5px;
}

header button {
  background-color: transparent;
  border: none;
  color: #b4b897;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #464660;
  color: #b4b897;
  width: 100%;
}

.main-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-table {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 16px;
}

.card-table-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1vw;
}

.card-table-bottom {
  margin: 1vw;
}

.card-table-top-card-dealer {
  width: 20%;
}

.card-table-top-completed-cards {
  width: 80%;
}

.leadership {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  min-width: 50px;
  max-width: 600px;
  margin: auto;
  color: #b4b897;
}

.leadership p {
  color: #464660;
  font-size: 6vw;
}

.leadership input {
  border: none;
  padding: 1vw;
  border-radius: 10px;
  background-color: #464660;
  color: #b4b897;
}

.leadership button {
  border: none;
  padding: 1vw;
  border-radius: 10px;
  background-color: #464660;
  color: #b4b897;
}

.leader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.leader img {
  height: 5vw;
  max-height: 90px;
  min-height: 50px;
}

.leader-active {
  background-color: #464660;
  border-radius: 50px;
}

body {
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 102px -399.66667px #c4ff00, 182px 70.33333px #0037ff, 235px -281.66667px #9500ff, -119px 4.33333px #ff00d9, 198px -64.66667px #f700ff, 24px -297.66667px #ff4400, -236px -384.66667px #ff0d00, 33px -245.66667px #00ffdd, 106px -317.66667px #00ff33, -81px -154.66667px #aa00ff, 61px 7.33333px #ee00ff, 166px -333.66667px #0059ff, 17px -197.66667px #00ffcc, 164px -372.66667px #77ff00, 79px -280.66667px #ff0051, -244px -2.66667px #c8ff00, -160px -298.66667px #00ffd0, -225px -373.66667px #0015ff, -76px -67.66667px cyan, -224px -264.66667px #0011ff, 203px -314.66667px #00ffd5, -41px -270.66667px #ff0048, 151px -382.66667px #6a00ff, -37px -386.66667px #ffb300, 85px -301.66667px #ff1a00, 9px -26.66667px #cc00ff, -89px -182.66667px #95ff00, -100px -175.66667px #007bff, -98px 4.33333px #ff0091, -141px -100.66667px #ff00ae, -158px 67.33333px #00aeff, -236px -213.66667px #0062ff, -108px -114.66667px #0040ff, 192px -34.66667px #ff003c, -45px -293.66667px magenta, -102px -80.66667px #1a00ff, 186px -217.66667px #ff8400, 113px -314.66667px #ff1500, -25px -348.66667px #0044ff, 124px -172.66667px #ff0009, -93px -44.66667px #ff0088, -69px -183.66667px #00ff09, 4px -264.66667px #ff1a00, -8px -42.66667px #00ff3c, 120px -255.66667px #ff002f, -187px 44.33333px #00ff33, 37px -292.66667px #00ffea, 187px -5.66667px #cc00ff, -92px -122.66667px #1aff00, 17px 75.33333px #ff00b3, 178px -199.66667px #00ff2f;
            box-shadow: 102px -399.66667px #c4ff00, 182px 70.33333px #0037ff, 235px -281.66667px #9500ff, -119px 4.33333px #ff00d9, 198px -64.66667px #f700ff, 24px -297.66667px #ff4400, -236px -384.66667px #ff0d00, 33px -245.66667px #00ffdd, 106px -317.66667px #00ff33, -81px -154.66667px #aa00ff, 61px 7.33333px #ee00ff, 166px -333.66667px #0059ff, 17px -197.66667px #00ffcc, 164px -372.66667px #77ff00, 79px -280.66667px #ff0051, -244px -2.66667px #c8ff00, -160px -298.66667px #00ffd0, -225px -373.66667px #0015ff, -76px -67.66667px cyan, -224px -264.66667px #0011ff, 203px -314.66667px #00ffd5, -41px -270.66667px #ff0048, 151px -382.66667px #6a00ff, -37px -386.66667px #ffb300, 85px -301.66667px #ff1a00, 9px -26.66667px #cc00ff, -89px -182.66667px #95ff00, -100px -175.66667px #007bff, -98px 4.33333px #ff0091, -141px -100.66667px #ff00ae, -158px 67.33333px #00aeff, -236px -213.66667px #0062ff, -108px -114.66667px #0040ff, 192px -34.66667px #ff003c, -45px -293.66667px magenta, -102px -80.66667px #1a00ff, 186px -217.66667px #ff8400, 113px -314.66667px #ff1500, -25px -348.66667px #0044ff, 124px -172.66667px #ff0009, -93px -44.66667px #ff0088, -69px -183.66667px #00ff09, 4px -264.66667px #ff1a00, -8px -42.66667px #00ff3c, 120px -255.66667px #ff002f, -187px 44.33333px #00ff33, 37px -292.66667px #00ffea, 187px -5.66667px #cc00ff, -92px -122.66667px #1aff00, 17px 75.33333px #ff00b3, 178px -199.66667px #00ff2f;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 102px -399.66667px #c4ff00, 182px 70.33333px #0037ff, 235px -281.66667px #9500ff, -119px 4.33333px #ff00d9, 198px -64.66667px #f700ff, 24px -297.66667px #ff4400, -236px -384.66667px #ff0d00, 33px -245.66667px #00ffdd, 106px -317.66667px #00ff33, -81px -154.66667px #aa00ff, 61px 7.33333px #ee00ff, 166px -333.66667px #0059ff, 17px -197.66667px #00ffcc, 164px -372.66667px #77ff00, 79px -280.66667px #ff0051, -244px -2.66667px #c8ff00, -160px -298.66667px #00ffd0, -225px -373.66667px #0015ff, -76px -67.66667px cyan, -224px -264.66667px #0011ff, 203px -314.66667px #00ffd5, -41px -270.66667px #ff0048, 151px -382.66667px #6a00ff, -37px -386.66667px #ffb300, 85px -301.66667px #ff1a00, 9px -26.66667px #cc00ff, -89px -182.66667px #95ff00, -100px -175.66667px #007bff, -98px 4.33333px #ff0091, -141px -100.66667px #ff00ae, -158px 67.33333px #00aeff, -236px -213.66667px #0062ff, -108px -114.66667px #0040ff, 192px -34.66667px #ff003c, -45px -293.66667px magenta, -102px -80.66667px #1a00ff, 186px -217.66667px #ff8400, 113px -314.66667px #ff1500, -25px -348.66667px #0044ff, 124px -172.66667px #ff0009, -93px -44.66667px #ff0088, -69px -183.66667px #00ff09, 4px -264.66667px #ff1a00, -8px -42.66667px #00ff3c, 120px -255.66667px #ff002f, -187px 44.33333px #00ff33, 37px -292.66667px #00ffea, 187px -5.66667px #cc00ff, -92px -122.66667px #1aff00, 17px 75.33333px #ff00b3, 178px -199.66667px #00ff2f;
            box-shadow: 102px -399.66667px #c4ff00, 182px 70.33333px #0037ff, 235px -281.66667px #9500ff, -119px 4.33333px #ff00d9, 198px -64.66667px #f700ff, 24px -297.66667px #ff4400, -236px -384.66667px #ff0d00, 33px -245.66667px #00ffdd, 106px -317.66667px #00ff33, -81px -154.66667px #aa00ff, 61px 7.33333px #ee00ff, 166px -333.66667px #0059ff, 17px -197.66667px #00ffcc, 164px -372.66667px #77ff00, 79px -280.66667px #ff0051, -244px -2.66667px #c8ff00, -160px -298.66667px #00ffd0, -225px -373.66667px #0015ff, -76px -67.66667px cyan, -224px -264.66667px #0011ff, 203px -314.66667px #00ffd5, -41px -270.66667px #ff0048, 151px -382.66667px #6a00ff, -37px -386.66667px #ffb300, 85px -301.66667px #ff1a00, 9px -26.66667px #cc00ff, -89px -182.66667px #95ff00, -100px -175.66667px #007bff, -98px 4.33333px #ff0091, -141px -100.66667px #ff00ae, -158px 67.33333px #00aeff, -236px -213.66667px #0062ff, -108px -114.66667px #0040ff, 192px -34.66667px #ff003c, -45px -293.66667px magenta, -102px -80.66667px #1a00ff, 186px -217.66667px #ff8400, 113px -314.66667px #ff1500, -25px -348.66667px #0044ff, 124px -172.66667px #ff0009, -93px -44.66667px #ff0088, -69px -183.66667px #00ff09, 4px -264.66667px #ff1a00, -8px -42.66667px #00ff3c, 120px -255.66667px #ff002f, -187px 44.33333px #00ff33, 37px -292.66667px #00ffea, 187px -5.66667px #cc00ff, -92px -122.66667px #1aff00, 17px 75.33333px #ff00b3, 178px -199.66667px #00ff2f;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
