header {
  @include flex;
  background-color: $primary-color;
  justify-content: space-around;
  font-size: 2vw;
  padding: 10px;
  color: $text-color;

  img {
    height: 3vw;
    margin-right: 5px;
  }

  button {
    background-color: transparent;
    border: none;
    color: $text-color;
  }
}

.header-section {
  @include flex;
}
