* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  width: 7vw;
  height: 9.8vw;
  position: absolute;
  border: solid 1px black;
  border-radius: 7px;
}

.selected {
  -webkit-box-shadow: 0px -1px 5px 5px black;
          box-shadow: 0px -1px 5px 5px black;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.cardDealer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0.5vw;
}

.completed-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.completed-card {
  width: 7vw;
  height: 9.8vw;
  border-radius: 7px;
  margin: 0.3vw;
  border: solid 1px black;
  background-color: rgba(6, 99, 136, 0.301);
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  overflow: hidden;
}

.active {
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.active img {
  height: 100%;
  width: 100%;
}

.card-slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 70vh;
}

.slot {
  height: 100%;
}

.slot-card {
  position: relative;
  width: 7vw;
  height: 9.8vw;
  border-radius: 7px;
  border: 1px dotted black;
}

.closed-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7vw;
  height: 9.8vw;
  border-radius: 7px;
}

.cards {
  width: 7vw;
  height: 9.8vw;
  border-radius: 7px;
  position: absolute;
  border: solid 1px black;
}

.Toastify__toast {
  color: #b4b897 !important;
  background-color: #464660 !important;
  font-size: 1vw !important;
  height: 7vw !important;
  border-radius: 8px !important;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #464660;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2vw;
  padding: 10px;
  color: #b4b897;
}

header img {
  height: 3vw;
  margin-right: 5px;
}

header button {
  background-color: transparent;
  border: none;
  color: #b4b897;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #464660;
  color: #b4b897;
  width: 100%;
}

.game-table {
  background-color: #368b85;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1vw 5vw;
}

.game-table-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1vw;
}

.game-table-bottom {
  margin: 1vw;
}

.game-table-top-card-dealer {
  width: 20%;
}

.game-table-top-completed-cards {
  width: 80%;
}

.leadership {
  border: 1px solid black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  min-width: 50px;
  max-width: 600px;
  margin: auto;
  color: #b4b897;
}

.leadership p {
  color: #368b85;
  font-size: 6vw;
}

.leadership input {
  border: none;
  padding: 1vw;
  border-radius: 10px;
  background-color: #464660;
  color: #b4b897;
}

.leader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.leader img {
  height: 5vw;
}

.leader-active {
  background-color: #368b85;
  border-radius: 50px;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 214px -71.66667px #1eff00, -30px -396.66667px #00ff11, 96px -302.66667px #7700ff, -152px -208.66667px #00ff26, 172px -365.66667px #0044ff, -244px -40.66667px #ff006f, 95px -245.66667px #00ffe6, -217px -410.66667px #00ff6a, -223px -316.66667px #00ff22, 182px -41.66667px #3c00ff, 37px -346.66667px #ff0080, 118px -270.66667px #ff00b7, 35px -224.66667px #00aeff, 147px 74.33333px #37ff00, 36px -183.66667px #15ff00, -186px -350.66667px #ff2b00, -224px 10.33333px #006aff, 28px -177.66667px #ff0088, 180px -406.66667px #00ffb3, 163px -4.66667px #0037ff, 99px 0.33333px #001aff, -15px 21.33333px #00ffea, -64px -15.66667px #b7ff00, 180px -218.66667px #9d00ff, 209px -216.66667px #0080ff, 200px -295.66667px #ff8000, 10px -415.66667px #00a2ff, 235px 18.33333px #ff004d, -104px -28.66667px #5e00ff, -83px -351.66667px #00ff22, -216px -132.66667px #fb00ff, 120px -260.66667px #ff00dd, 175px -57.66667px #ff00aa, -20px -98.66667px #00ff22, -127px -213.66667px #a600ff, 218px 48.33333px #ff3c00, 77px -371.66667px #ff00ea, -33px -24.66667px #ff9900, -59px -333.66667px #ff7b00, -170px -300.66667px #ff001e, 50px -405.66667px #ffea00, 211px -54.66667px #ffd900, -212px -196.66667px #00ccff, 94px 63.33333px #33ff00, -119px -315.66667px #00ff33, -245px -83.66667px #cc00ff, 137px -1.66667px #37ff00, -34px -17.66667px #ff1100, -135px -305.66667px #ff001a, -57px -41.66667px #ff4000, -112px 38.33333px darkorange;
            box-shadow: 214px -71.66667px #1eff00, -30px -396.66667px #00ff11, 96px -302.66667px #7700ff, -152px -208.66667px #00ff26, 172px -365.66667px #0044ff, -244px -40.66667px #ff006f, 95px -245.66667px #00ffe6, -217px -410.66667px #00ff6a, -223px -316.66667px #00ff22, 182px -41.66667px #3c00ff, 37px -346.66667px #ff0080, 118px -270.66667px #ff00b7, 35px -224.66667px #00aeff, 147px 74.33333px #37ff00, 36px -183.66667px #15ff00, -186px -350.66667px #ff2b00, -224px 10.33333px #006aff, 28px -177.66667px #ff0088, 180px -406.66667px #00ffb3, 163px -4.66667px #0037ff, 99px 0.33333px #001aff, -15px 21.33333px #00ffea, -64px -15.66667px #b7ff00, 180px -218.66667px #9d00ff, 209px -216.66667px #0080ff, 200px -295.66667px #ff8000, 10px -415.66667px #00a2ff, 235px 18.33333px #ff004d, -104px -28.66667px #5e00ff, -83px -351.66667px #00ff22, -216px -132.66667px #fb00ff, 120px -260.66667px #ff00dd, 175px -57.66667px #ff00aa, -20px -98.66667px #00ff22, -127px -213.66667px #a600ff, 218px 48.33333px #ff3c00, 77px -371.66667px #ff00ea, -33px -24.66667px #ff9900, -59px -333.66667px #ff7b00, -170px -300.66667px #ff001e, 50px -405.66667px #ffea00, 211px -54.66667px #ffd900, -212px -196.66667px #00ccff, 94px 63.33333px #33ff00, -119px -315.66667px #00ff33, -245px -83.66667px #cc00ff, 137px -1.66667px #37ff00, -34px -17.66667px #ff1100, -135px -305.66667px #ff001a, -57px -41.66667px #ff4000, -112px 38.33333px darkorange;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 214px -71.66667px #1eff00, -30px -396.66667px #00ff11, 96px -302.66667px #7700ff, -152px -208.66667px #00ff26, 172px -365.66667px #0044ff, -244px -40.66667px #ff006f, 95px -245.66667px #00ffe6, -217px -410.66667px #00ff6a, -223px -316.66667px #00ff22, 182px -41.66667px #3c00ff, 37px -346.66667px #ff0080, 118px -270.66667px #ff00b7, 35px -224.66667px #00aeff, 147px 74.33333px #37ff00, 36px -183.66667px #15ff00, -186px -350.66667px #ff2b00, -224px 10.33333px #006aff, 28px -177.66667px #ff0088, 180px -406.66667px #00ffb3, 163px -4.66667px #0037ff, 99px 0.33333px #001aff, -15px 21.33333px #00ffea, -64px -15.66667px #b7ff00, 180px -218.66667px #9d00ff, 209px -216.66667px #0080ff, 200px -295.66667px #ff8000, 10px -415.66667px #00a2ff, 235px 18.33333px #ff004d, -104px -28.66667px #5e00ff, -83px -351.66667px #00ff22, -216px -132.66667px #fb00ff, 120px -260.66667px #ff00dd, 175px -57.66667px #ff00aa, -20px -98.66667px #00ff22, -127px -213.66667px #a600ff, 218px 48.33333px #ff3c00, 77px -371.66667px #ff00ea, -33px -24.66667px #ff9900, -59px -333.66667px #ff7b00, -170px -300.66667px #ff001e, 50px -405.66667px #ffea00, 211px -54.66667px #ffd900, -212px -196.66667px #00ccff, 94px 63.33333px #33ff00, -119px -315.66667px #00ff33, -245px -83.66667px #cc00ff, 137px -1.66667px #37ff00, -34px -17.66667px #ff1100, -135px -305.66667px #ff001a, -57px -41.66667px #ff4000, -112px 38.33333px darkorange;
            box-shadow: 214px -71.66667px #1eff00, -30px -396.66667px #00ff11, 96px -302.66667px #7700ff, -152px -208.66667px #00ff26, 172px -365.66667px #0044ff, -244px -40.66667px #ff006f, 95px -245.66667px #00ffe6, -217px -410.66667px #00ff6a, -223px -316.66667px #00ff22, 182px -41.66667px #3c00ff, 37px -346.66667px #ff0080, 118px -270.66667px #ff00b7, 35px -224.66667px #00aeff, 147px 74.33333px #37ff00, 36px -183.66667px #15ff00, -186px -350.66667px #ff2b00, -224px 10.33333px #006aff, 28px -177.66667px #ff0088, 180px -406.66667px #00ffb3, 163px -4.66667px #0037ff, 99px 0.33333px #001aff, -15px 21.33333px #00ffea, -64px -15.66667px #b7ff00, 180px -218.66667px #9d00ff, 209px -216.66667px #0080ff, 200px -295.66667px #ff8000, 10px -415.66667px #00a2ff, 235px 18.33333px #ff004d, -104px -28.66667px #5e00ff, -83px -351.66667px #00ff22, -216px -132.66667px #fb00ff, 120px -260.66667px #ff00dd, 175px -57.66667px #ff00aa, -20px -98.66667px #00ff22, -127px -213.66667px #a600ff, 218px 48.33333px #ff3c00, 77px -371.66667px #ff00ea, -33px -24.66667px #ff9900, -59px -333.66667px #ff7b00, -170px -300.66667px #ff001e, 50px -405.66667px #ffea00, 211px -54.66667px #ffd900, -212px -196.66667px #00ccff, 94px 63.33333px #33ff00, -119px -315.66667px #00ff33, -245px -83.66667px #cc00ff, 137px -1.66667px #37ff00, -34px -17.66667px #ff1100, -135px -305.66667px #ff001a, -57px -41.66667px #ff4000, -112px 38.33333px darkorange;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
