* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #368b85;
}

.card {
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
  position: absolute;
}

.selected {
  -webkit-box-shadow: 0px -1px 5px 5px blue;
          box-shadow: 0px -1px 5px 5px blue;
}

.card-img {
  border: solid 1px black;
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.cardDealer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0.5vw;
}

.completed-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.completed-card {
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
  margin: 0.3vw;
  border: solid 1px black;
  background-color: rgba(6, 99, 136, 0.301);
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  overflow: hidden;
}

.active {
  -webkit-box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
          box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.active img {
  height: 100%;
  width: 100%;
}

.card-slots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.slot {
  height: 25vw;
  padding: 1vw;
}

.slot-card {
  position: relative;
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
  border: 1px dotted black;
}

.closed-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
}

.cards {
  width: 5vw;
  height: 7vw;
  border-radius: 7px;
  position: absolute;
  border: solid 1px black;
}

.Toastify__toast {
  color: #b4b897 !important;
  background-color: #464660 !important;
  font-size: 1vw !important;
  height: 7vw !important;
  border-radius: 8px !important;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #464660;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2vw;
  padding: 10px;
  color: #b4b897;
}

header img {
  height: 3vw;
  margin-right: 5px;
}

header button {
  background-color: transparent;
  border: none;
  color: #b4b897;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #464660;
  color: #b4b897;
  width: 100%;
}

.main-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.game-table {
  width: 85%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 16px;
}

.game-table-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1vw;
}

.game-table-bottom {
  margin: 1vw;
}

.game-table-top-card-dealer {
  width: 20%;
}

.game-table-top-completed-cards {
  width: 80%;
}

.leadership {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  min-width: 50px;
  max-width: 600px;
  margin: auto;
  color: #b4b897;
}

.leadership p {
  color: #464660;
  font-size: 6vw;
}

.leadership input {
  border: none;
  padding: 1vw;
  border-radius: 10px;
  background-color: #464660;
  color: #b4b897;
}

.leadership button {
  border: none;
  padding: 1vw;
  border-radius: 10px;
  background-color: #464660;
  color: #b4b897;
}

.leader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.leader img {
  height: 5vw;
  max-height: 90px;
  min-height: 50px;
}

.leader-active {
  background-color: #464660;
  border-radius: 50px;
}

body {
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: -78px 70.33333px #a2ff00, 124px -179.66667px #6aff00, 46px -14.66667px #00ffaa, -94px -239.66667px #ff002f, 17px -204.66667px #fff700, 237px -391.66667px #c4ff00, -20px -414.66667px #ff5900, -17px -225.66667px #6600ff, 72px 25.33333px #ff7300, 19px -91.66667px #00a6ff, -96px -24.66667px #ff0062, 194px -208.66667px #d900ff, 84px 73.33333px #00aaff, -163px -126.66667px #00ff80, 130px -6.66667px #73ff00, -75px 64.33333px #2200ff, -204px -79.66667px #1100ff, -227px -275.66667px #ffe100, 83px 6.33333px #ff0095, -50px -116.66667px #0059ff, 59px -325.66667px #00ff73, -196px -359.66667px #9d00ff, 180px -270.66667px #ff0080, 61px -157.66667px #fff700, -28px -288.66667px #1100ff, -73px -80.66667px #6fff00, 164px -352.66667px #ee00ff, 198px -340.66667px #0004ff, 28px -163.66667px lime, -184px -119.66667px #ff002b, -16px -244.66667px #ff7700, 191px -1.66667px #ff0004, -67px -53.66667px #0055ff, 173px -365.66667px #3cff00, -16px -246.66667px #00ff1e, -192px -317.66667px #8cff00, -235px 23.33333px #00ff80, -42px -26.66667px #ff00e6, 136px -30.66667px #ff0055, 21px -199.66667px #0400ff, 75px -5.66667px #ff5900, 38px -91.66667px #b3ff00, 155px -122.66667px #fff700, 6px -209.66667px #00ffae, -122px -201.66667px #ff0084, -100px 31.33333px #0d00ff, 175px -241.66667px #2f00ff, 244px -129.66667px #00e1ff, 245px -5.66667px #ffd500, -199px -250.66667px #84ff00, -168px -331.66667px #ffc400;
            box-shadow: -78px 70.33333px #a2ff00, 124px -179.66667px #6aff00, 46px -14.66667px #00ffaa, -94px -239.66667px #ff002f, 17px -204.66667px #fff700, 237px -391.66667px #c4ff00, -20px -414.66667px #ff5900, -17px -225.66667px #6600ff, 72px 25.33333px #ff7300, 19px -91.66667px #00a6ff, -96px -24.66667px #ff0062, 194px -208.66667px #d900ff, 84px 73.33333px #00aaff, -163px -126.66667px #00ff80, 130px -6.66667px #73ff00, -75px 64.33333px #2200ff, -204px -79.66667px #1100ff, -227px -275.66667px #ffe100, 83px 6.33333px #ff0095, -50px -116.66667px #0059ff, 59px -325.66667px #00ff73, -196px -359.66667px #9d00ff, 180px -270.66667px #ff0080, 61px -157.66667px #fff700, -28px -288.66667px #1100ff, -73px -80.66667px #6fff00, 164px -352.66667px #ee00ff, 198px -340.66667px #0004ff, 28px -163.66667px lime, -184px -119.66667px #ff002b, -16px -244.66667px #ff7700, 191px -1.66667px #ff0004, -67px -53.66667px #0055ff, 173px -365.66667px #3cff00, -16px -246.66667px #00ff1e, -192px -317.66667px #8cff00, -235px 23.33333px #00ff80, -42px -26.66667px #ff00e6, 136px -30.66667px #ff0055, 21px -199.66667px #0400ff, 75px -5.66667px #ff5900, 38px -91.66667px #b3ff00, 155px -122.66667px #fff700, 6px -209.66667px #00ffae, -122px -201.66667px #ff0084, -100px 31.33333px #0d00ff, 175px -241.66667px #2f00ff, 244px -129.66667px #00e1ff, 245px -5.66667px #ffd500, -199px -250.66667px #84ff00, -168px -331.66667px #ffc400;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: -78px 70.33333px #a2ff00, 124px -179.66667px #6aff00, 46px -14.66667px #00ffaa, -94px -239.66667px #ff002f, 17px -204.66667px #fff700, 237px -391.66667px #c4ff00, -20px -414.66667px #ff5900, -17px -225.66667px #6600ff, 72px 25.33333px #ff7300, 19px -91.66667px #00a6ff, -96px -24.66667px #ff0062, 194px -208.66667px #d900ff, 84px 73.33333px #00aaff, -163px -126.66667px #00ff80, 130px -6.66667px #73ff00, -75px 64.33333px #2200ff, -204px -79.66667px #1100ff, -227px -275.66667px #ffe100, 83px 6.33333px #ff0095, -50px -116.66667px #0059ff, 59px -325.66667px #00ff73, -196px -359.66667px #9d00ff, 180px -270.66667px #ff0080, 61px -157.66667px #fff700, -28px -288.66667px #1100ff, -73px -80.66667px #6fff00, 164px -352.66667px #ee00ff, 198px -340.66667px #0004ff, 28px -163.66667px lime, -184px -119.66667px #ff002b, -16px -244.66667px #ff7700, 191px -1.66667px #ff0004, -67px -53.66667px #0055ff, 173px -365.66667px #3cff00, -16px -246.66667px #00ff1e, -192px -317.66667px #8cff00, -235px 23.33333px #00ff80, -42px -26.66667px #ff00e6, 136px -30.66667px #ff0055, 21px -199.66667px #0400ff, 75px -5.66667px #ff5900, 38px -91.66667px #b3ff00, 155px -122.66667px #fff700, 6px -209.66667px #00ffae, -122px -201.66667px #ff0084, -100px 31.33333px #0d00ff, 175px -241.66667px #2f00ff, 244px -129.66667px #00e1ff, 245px -5.66667px #ffd500, -199px -250.66667px #84ff00, -168px -331.66667px #ffc400;
            box-shadow: -78px 70.33333px #a2ff00, 124px -179.66667px #6aff00, 46px -14.66667px #00ffaa, -94px -239.66667px #ff002f, 17px -204.66667px #fff700, 237px -391.66667px #c4ff00, -20px -414.66667px #ff5900, -17px -225.66667px #6600ff, 72px 25.33333px #ff7300, 19px -91.66667px #00a6ff, -96px -24.66667px #ff0062, 194px -208.66667px #d900ff, 84px 73.33333px #00aaff, -163px -126.66667px #00ff80, 130px -6.66667px #73ff00, -75px 64.33333px #2200ff, -204px -79.66667px #1100ff, -227px -275.66667px #ffe100, 83px 6.33333px #ff0095, -50px -116.66667px #0059ff, 59px -325.66667px #00ff73, -196px -359.66667px #9d00ff, 180px -270.66667px #ff0080, 61px -157.66667px #fff700, -28px -288.66667px #1100ff, -73px -80.66667px #6fff00, 164px -352.66667px #ee00ff, 198px -340.66667px #0004ff, 28px -163.66667px lime, -184px -119.66667px #ff002b, -16px -244.66667px #ff7700, 191px -1.66667px #ff0004, -67px -53.66667px #0055ff, 173px -365.66667px #3cff00, -16px -246.66667px #00ff1e, -192px -317.66667px #8cff00, -235px 23.33333px #00ff80, -42px -26.66667px #ff00e6, 136px -30.66667px #ff0055, 21px -199.66667px #0400ff, 75px -5.66667px #ff5900, 38px -91.66667px #b3ff00, 155px -122.66667px #fff700, 6px -209.66667px #00ffae, -122px -201.66667px #ff0084, -100px 31.33333px #0d00ff, 175px -241.66667px #2f00ff, 244px -129.66667px #00e1ff, 245px -5.66667px #ffd500, -199px -250.66667px #84ff00, -168px -331.66667px #ffc400;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
